body {
  background: #333;
  font-family: Verdana, sans-serif;
}

table {
  max-width: 1000px;
  width: 80%;
  margin: 48px auto 0;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  color: #000;
  text-align: left;
}

td {
  font-size: 8pt;
}

h2 {
  height: 22px;
  margin-top: 0;
  padding-left: 12px;
  background: #e0dfe3;
  font-size: 11pt;
  line-height: 22px;
  white-space: nowrap;
}

a {
  color: #00f;
}

a:hover {
  text-decoration: none;
}

.padding {
  padding-left: 2.0pt;
}
