---
import Layout from '../layouts/Layout.astro'

const title = 'Pascal Germain'
const description = 'Développeur web & mobile'
---

<Layout {title} {description}>
	<header class="mt-[200px] inline-flex gap-[10px]">
		<img src="/images/portrait.png" alt="Portrait" class="h-[60px] w-[60px] rounded-[10px]" />
		<div>
			<h1 class="text-3xl font-bold leading-[35px]">{title}</h1>
			<p class="text-lg leading-6">{description}</p>
		</div>
	</header>

	<form
		action="https://formspree.io/pascalgermain@me.com"
		method="post"
		class="mt-[46px] border-y-2 border-b-orange-1 border-t-orange-3 bg-orange-2 bg-[url(/images/bar.png)] bg-top bg-repeat-x"
	>
		<div class="my-[19px] inline-flex items-center gap-[7px] text-xs text-gray-2">
			<div>Pour être recontacté(e), veuillez entrer votre adresse e-mail :</div>
			<div>
				<input type="email" name="_replyto" class="px-1 text-sm leading-[22px]" />
			</div>
			<div>
				<input
					type="submit"
					value="Envoyer"
					class="h-6 w-16 cursor-pointer bg-[url(/images/submit.png)] p-0.5 pb-1 text-[13px] text-white [text-shadow:_1px_1px_1px_#111]"
				/>
			</div>
		</div>
	</form>
</Layout>
