---
interface Props {
	title: string
	description?: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		<link rel="icon" href="/images/portrait.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	body {
		@apply bg-gray-3 text-center text-white;
	}
</style>
